@import './colors.scss';

.sidebar {
    height: 100%;
    flex: .3;
    background-color: $primary-color;
    color: #fff;
    font-size: 18px;
    overflow-y: scroll;
}

.sidebar-header {
    padding: 15px;
    font-weight: 900;
    border-bottom: 1px solid $secondary-color;

    p {
        margin: 16px 0;
    }
}

.members-list {
    padding: 0 15px;
    border-bottom: 1px solid $secondary-color;

    p {
        margin: 0;
        padding: 16px 0;

        &:first-child {
            font-weight: 900;
        }
    }

    ul {
        font-size: 14px;
        list-style-type: none;
        padding: 0 0 0 18px;

        li {
            padding: 5px 0;
        }
    }
}

.sidebar-button-row {
    display: flex;
    justify-content: center;
    padding: 20px;

    .sidebar-button {
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $yellow;

        &:hover {
            transform:scale(1.1);
            transition: .2s;
        }

        &:focus {
            outline: none;
        }
    }
}

.content {
    flex: .7;
    overflow-y: scroll;
    padding: 0 0 120px 0;

    .input-container {
        display: flex;
        justify-content: center;

        form {
            position: fixed;
            bottom: 30px;
            width: 60%;
        }

        input {
            width: 80%;
            padding: 20px;
            border-radius: 3px;
            border: 1px solid gray;

            &:focus {
                outline: none;
            }
        }

        button {
            width: 57px;
            height: 57px;
            font-size: 17px;
        }
    }
}

.content-header {
    border-bottom: 1px solid gray;

    h3 {
        margin: 0;
        padding: 31px 20px;
        font-size: 18px;
    }
}

.message {
    padding: 20px;

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}
