@import './colors.scss';

.form-wrapper {
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: $login-container;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

    h1 {
        text-align: center;
        text-transform: uppercase;
    }

    form {
        display: flex;
        flex-direction: column;
        
        label {
            font-size: 18px;
            margin: 10px 0 0 0;
        }

        button {
            font-size: 18px;
            width: 100px;
            height: 40px;
            background-color: $join-button-color;
            color: #fff;
            margin: 16px auto 0 auto;
            border: none;
            border-radius: 8px;
        }
    }
}