body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif; }

.wrapper {
    display: flex;
    background-color: #f8f8f8;
    height: 100vh; }

.login-wrapper {
    align-items: center;
    justify-content: center; }

.login-container {
    background-color: #fff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
.login-container h1 {
    text-align: center;
    text-transform: uppercase; }
.login-container form {
    display: flex;
    flex-direction: column; }
.login-container form label {
    font-size: 18px;
    margin: 10px 0 0 0; }
.login-container form button {
    font-size: 18px;
    width: 100px;
    height: 40px;
    background-color: #008000;
    color: #fff;
    margin: 16px auto 0 auto;
    border: none;
    border-radius: 8px; }

.sidebar {
    height: 100%;
    flex: .3;
    background-color: #3135A3;
    color: #fff;
    font-size: 18px;
    overflow-y: scroll; }

.profile {
    padding: 15px;
    font-weight: 900;
    border-bottom: 1px solid #6367EB; }
.profile p {
    margin: 16px 0; }

.channels-list {
    padding: 0 15px;
    border-bottom: 1px solid #6367EB; }
.channels-list p {
    margin: 0;
    padding: 16px 0; }
.channels-list p:first-child {
    font-weight: 900; }
.channels-list .channels-list-item {
    font-size: 14px; }

.content {
    flex: .7;
    overflow-y: scroll;
    padding: 0 0 120px 0; }
.content .input-container {
    display: flex;
    justify-content: center; }
.content .input-container input {
    position: fixed;
    bottom: 30px;
    width: 60%;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid gray; }
.content .input-container input:focus {
    outline: none; }

.content-header {
    border-bottom: 1px solid gray; }
.content-header h3 {
    margin: 0;
    padding: 31px 20px;
    font-size: 18px; }

.message {
    padding: 20px; }
.message h4 {
    margin: 0; }
.message p {
    margin: 0; }