.welcome-wrapper {
  align-items: flex-start;
  justify-content: center;
  background-color: #3135A3; }

.welcome-container {
  background-color: #fff;
  padding: 0 54px 20px;
  border-radius: 10px; }
  .welcome-container ul {
    padding: 0 0 0 20px;
    list-style-type: disclosure-closed; }
    .welcome-container ul a {
      text-decoration: none; }
