@import './colors.scss';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.wrapper {
    display: flex;
    background-color: $wrapper-background;
    height: 100vh;
}