$primary-color: #3135A3;
$secondary-color: #6367EB;
$wrapper-background: #f8f8f8;

// login page
$login-container: #fff;
$join-button-color: #008000;

$second: #EB7D7A;
$fourth: #EBCC4B;
$fifth: #57EB89;