<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../static/css/style.css">
    <title>My Chat App</title>
</head>
<body>
    <div class="wrapper form-wrapper">
        <div class="form-container">
            <h1>Create Room</h1>
            <h3>{{ message }}</h3>
            <form method="post">
                <label>Room Name:</label>
                <input type="text" name="room_name">
                <label>Members:</label>
                <input type="text" name="members">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>